.auth-form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  background: rgba(72, 176, 236, 0.342);
  padding: 3em;
  border-radius: 1em;
  h2 {
    text-align: center;
    margin-bottom: 2em;
  }
  .auth-group {
    margin-bottom: 2em;
  }
}
.auth-redirect {
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 10px;
}
